*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: black;
    height: 100vh;
}

.container{
    max-width: 1350px;
    margin-inline: auto;
    padding-inline: 3px;
}
/* nav */
nav{
    
    background-color: black;
}

.container-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    padding-left: 10px;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    right:0;
    
}

.container-icon2{
    padding-left: 10px;
}

span{
    color: white;
}    

.icon{
   padding-top: 2px;
   padding-right: 2px;
}

.container-icon {
    height: 20px;
    background-color: #4a4a4a;
    display: flex;
}

.container-icon2{
    
    background-color: #4a4a4a;
}

/* Main */

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 50px;
    padding: 25px;
}

.mini-container{
    display: flex;
    position: relative;
    
}

.micro{
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    
}

.name{
    position: absolute;
    left: 30px;
    bottom: 0;
}

/* Footer */

footer{
    display: flex;
    justify-content: space-between;
   background-color: rgb(34, 34, 34);
   position:fixed;
   bottom: 0;
   left: 0;
   right: 0;

}


.icon-footer-start{
     display: flex;
     justify-content: flex-start;
    position: relative; 
}

 .arrow-up{
    height: 20px;
   position: relative;
   top: 25px;
   
}

.button {
   height: 50px;
   width: 50px;
   flex-direction: column;
   padding-left: 10px;
}
h3{
   color: white;
   font-size: 13px;
   width: 150px; 
}
.icon-footer-center{
    display: flex;
    
}

.icon4{
    height: 30px;
    width: 30px;
   
}
.button-large{
    width: 150px;
}

.icon-junior{
    height: 30px;
}

.button-large2{
    width: 150px;
}

.button-end{
    height: 100%;
    
    background-color: #4a4a4a;
}
 h2{
    height: 100%;
    color: red;
 }


