*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: black;
    height: 100vh;
}

.container{
    max-width: 1350px;
    margin-inline: auto;
    padding-inline: 3px;
}
/* nav */
nav{
    
    background-color: black;
}

.container-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    padding-left: 10px;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    right:0;
    
}

.container-icon2{
    padding-left: 10px;
}

span{
    color: white;
}    

.icon{
   padding-top: 2px;
   padding-right: 2px;
}

.container-icon {
    height: 20px;
    background-color: #4a4a4a;
    display: flex;
}

.container-icon2{
    
    background-color: #4a4a4a;
}

/* Main */

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 50px;
    padding: 25px;
}

.mini-container{
    display: flex;
    position: relative;
    
}

.micro{
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    
}

.name{
    position: absolute;
    left: 30px;
    bottom: 0;
}

/* Footer */

footer{
   display: flex;
    height: 100px;
    background-color: rgb(34, 34, 34);
}


.icon-footer-start{
    display: flex;
    justify-content: center;
    height: 70px;
}

.arrow-up{
    height: 25px;
    padding-right: 15px;
    margin-top: 25px;
}

.camera{
    padding-right: 15px;
}